.intro-message {
	 	text-align: center;
	 	width: 700px;
	 	padding-left: 22%;
	 	padding-top: 80px;
	 	padding-bottom: 10px;
}
.signup-form {
	color: #FF9D00;
	text-align: left;
}

body {
	background: url('Background.jpg') no-repeat center center;
    color: #ffffff;
    background-color: #000000;
}
h1 {
    color: #F2CF05;
    font-family: verdana;
    font-size: 50px;
}
h3 {
    color: #ffffff;
    font-family: arial;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}
a:link {
	color: #ffffff;
	text-decoration: none;
}
a:visited {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #000000;
	background-color: #FF9D00;
	text-decoration: none;
}